:root {
              --main-bg-color: #FFFFFF;
              --main-title-color: #2e2f42;
              --main-basic-color-text: #434455;
              --main-bg-team: #f4f4fd;
              --main-color-hover: #4D5AE5;
              --main-color-default:  #404BBF;
              --color-text-footer: #E7E9FC;
            }
            
body {
             font-family: 'Roboto', sans-serif; 
             background-color: var(--main-bg-color);  
             color: var(--main-basic-color-text);  
}

ul {
              list-style-type: none;
}
.logo {
              
              font-family: 'Raleway', sans-serif;
              font-weight: 800;
              font-size: 18px;
              line-height: 1.333;
              letter-spacing: 0.03em;
              text-transform: uppercase;
              color: var(--main-color-hover); 
              text-decoration: none;
}
.logo-second {

             color: var(--main-title-color);
             text-decoration: none; 
}
.logo:hover,
.logo:focus,
.logo-second:hover,
.logo-second:focus {
              color: var(--main-color-hover);
            
              
}

.studio,
.portfolio,
.contacts {
              font-weight: 500;
              font-size: 16px;
              line-height: 1.5;
              letter-spacing: 0.02em;
              color: var(--main-title-color); 
              text-decoration:none;         
   
}

.studio:hover,
.studio:focus {
                     color: var(--main-color-hover);
                     
 }
 .portfolio:hover,
 .portfolio:focus {
  color: var(--main-color-hover);
 }
 .contacts:hover,
 .contacts:focus
 {
  color: var(--main-color-hover);
 }


 .adress-mail,
 .adress-tel {
             color: var(--main-basic-color-text);
             font-style: normal;
             font-size: 16px;
             line-height: 1.5;
             letter-spacing: 0.02em;
             text-decoration: none;
 }
 .adress-mail:hover,
 .adress-tel:hover,
 .adress-mail:focus,
 .adress-tel:focus {
                color: var(--main-color-hover);
               
 }

.hero {
              
              background: var(--main-title-color);          
                        
}
.header-hero {
           
           font-size: 56px;
           line-height: 1.071;
           letter-spacing: 0.02em;
           color: var(--main-bg-color);
           
}
.btn-service {
              font-family: 'Roboto', sans-serif;
              background-color: var(--main-color-hover);
              box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
              border-radius: 4px;  
              font-weight: 500;
              font-size: 16px;
              line-height: 1.5;
              letter-spacing: 0.04em;
              color: var(--main-bg-color);
              cursor: pointer;
        
}
.btn-service:hover,
.btn-service:focus {
             background-color: var(--main-color-default); 
}
.future-list {
                            
              font-weight: 500;
              font-size: 20px;
              line-height: 1.2;
              letter-spacing: 0.02em;
              color:var(--main-title-color);       
                        
             
}
.list-item {
              
              font-size: 16px;
              line-height: 1.5;
              letter-spacing: 0.02em;
              color: var(--main-basic-color-text);
}
.header-works {
                           
              font-size: 36px;
              line-height: 1.111;
              letter-spacing: 0.02em;
              text-transform: capitalize;
               color: var(--main-title-color);           
              
}
.team {
              background-color: var(--main-bg-team);          
}
.header-team {
              
              font-size: 36px;
              line-height: 1.111;
              letter-spacing: 0.02em;
              text-transform: capitalize;
              color: var(--main-title-color);

}
.item-team {
              background-color: var(--main-bg-color);
              
}
.team-names {
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
           /* text-align: center;*/
            letter-spacing: 0.02em;
            color: var(--main-title-color);
}
.team-profesion {
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--main-basic-color-text);
  
}

.main-footer {
           background-color: var(--main-title-color);   
}
.text-footer{
                            
              font-size: 16px;
              line-height: 1.5;
              letter-spacing: 0.02em;
              color: var(--color-text-footer);
}
.logo-second-footer {
              
              font-size: 18px;
              line-height: 1.166;
              letter-spacing: 0.03em;
              color: var(--main-bg-team);
}
.logo-second-footer:hover,
.logo-second-footer:focus {
            color: var(--main-color-hover);
}
.btn-filters {

          background: var(--main-bg-team);
          border: 1px solid var(--color-text-footer);
          border-radius: 4px;
          font-family: 'Roboto', sans-serif;
          font-weight: 500;
          font-size: 16px;
          line-height: 1.5;
          letter-spacing: 0.04em;
          color: var(--main-color-hover);
          cursor: pointer;
}
.btn-filters:hover,
.btn-filters:focus {
  background-color: var(--main-color-default);
  color: var(--main-bg-color);
}
.header-portfolio-cards  {
          
          font-weight: 500;
          font-size: 20px;
          line-height: 1.2;
          letter-spacing: 0.02em;
          color: var(--main-title-color);
         
}
.card-content {
                                                 
          font-size: 16px;
          line-height: 1.5;
          letter-spacing: 0.02em;
          color: var(--main-basic-color-text);
}